In [1]:
import requests
import pandas as pd

In [23]:
with open('alpha_vantage_apikey.txt', 'r') as file:
    apikey = file.read()

In [4]:
base_url = 'https://www.alphavantage.co/query?'

In [5]:
all_earnings_data = []
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

for symbol in symbols:
    params = {
        'function': 'EARNINGS',
        'symbol': symbol,
        'datatype': 'json',
        'apikey': apikey
    }
    results = requests.get(base_url, params=params)
    if results.status_code == 200:
        earnings_data = results.json().get('annualEarnings', [])
        for entry in earnings_data:
            entry['symbol'] = symbol
        all_earnings_data.extend(earnings_data)
    else:
        print(f"Failed to retrieve data for {symbol}")

earnings_df = pd.DataFrame(all_earnings_data)
earnings_df

    fiscalDateEnding reportedEPS symbol
0         2024-09-30         0.5    WEN
1         2023-12-31        0.97    WEN
2         2022-12-31        0.87    WEN
3         2021-12-31        0.82    WEN
4         2020-12-31        0.57    WEN
..               ...         ...    ...
150       2009-01-31        0.09    CRM
151       2008-01-31        0.05    CRM
152       2007-01-31        0.07    CRM
153       2006-01-31        0.04    CRM
154       2005-01-31      0.0173    CRM

[155 rows x 3 columns]

In [26]:
all_price_data = []
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

for symbol in symbols:
    params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': symbol,
        'outputsize': 'full',
        'datatype': 'json',
        'apikey': apikey
    }
    results = requests.get(base_url, params=params)
    if results.status_code == 200:
        price_data = results.json().get('Time Series (Daily)', {})
        for date, data in price_data.items():
            data['symbol'] = symbol
            data['date'] = date
            all_price_data.append(data)
    else:
        print(f"Failed to retrieve data for {symbol}")

price_df = pd.DataFrame(all_price_data)
price_df

       1. open  2. high   3. low 4. close 5. volume symbol        date
0      20.1300  20.3900  20.0200  20.3100   6434591    WEN  2024-10-30
1      20.3800  20.5800  20.2501  20.2800   3124484    WEN  2024-10-29
2      19.7600  20.4400  19.7600  20.4000   5292263    WEN  2024-10-28
3      19.8600  19.8600  19.3550  19.5400   3062258    WEN  2024-10-25
4      19.1100  19.4700  19.1100  19.4700   2402307    WEN  2024-10-24
...        ...      ...      ...      ...       ...    ...         ...
35917  16.0000  16.7000  15.8300  16.4000    528000    CRM  2004-06-29
35918  16.0000  16.2100  15.4360  16.0000    567700    CRM  2004-06-28
35919  16.5100  16.7500  15.7900  15.8000   1677500    CRM  2004-06-25
35920  17.5500  17.6900  16.5000  16.7600   2221800    CRM  2004-06-24
35921  15.0000  17.3000  14.7500  17.2000  10893600    CRM  2004-06-23

[35922 rows x 7 columns]

In [24]:
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': 'CRM',
        'datatype': 'json',
        'apikey': apikey
    }
results = requests.get(base_url, params=params)
price_data = results.json()
price_data
#price = price_data['Time Series (Daily)']
#price
#price_df = pd.DataFrame.from_dict(price)
#price_df

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'CRM',
  '3. Last Refreshed': '2024-10-30',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2024-10-30': {'1. open': '297.0700',
   '2. high': '299.5400',
   '3. low': '296.3500',
   '4. close': '296.4000',
   '5. volume': '2826545'},
  '2024-10-29': {'1. open': '294.0000',
   '2. high': '300.5950',
   '3. low': '292.8100',
   '4. close': '298.8900',
   '5. volume': '4280743'},
  '2024-10-28': {'1. open': '293.6000',
   '2. high': '296.0700',
   '3. low': '292.4900',
   '4. close': '293.7700',
   '5. volume': '3867816'},
  '2024-10-25': {'1. open': '290.0000',
   '2. high': '294.3800',
   '3. low': '288.8300',
   '4. close': '290.4600',
   '5. volume': '3351560'},
  '2024-10-24': {'1. open': '286.5600',
   '2. high': '288.9100',
   '3. low': '285.1800',
   '4. close': '286.7600',
   '5. volume': '3210656'},
  '2024-10-23': {'1. open': '287.7300',
   '2. high': '288.3032',
   '3. low': '282.6176',
   '4. close': '284.4300',
   '5. volume': '3227071'},
  '2024-10-22': {'1. open': '289.7500',
   '2. high': '291.9420',
   '3. low': '287.6500',
   '4. close': '288.3300',
   '5. volume': '3100125'},
  '2024-10-21': {'1. open': '289.0000',
   '2. high': '292.9200',
   '3. low': '288.0400',
   '4. close': '291.2900',
   '5. volume': '2712571'},
  '2024-10-18': {'1. open': '292.0400',
   '2. high': '294.7100',
   '3. low': '290.1500',
   '4. close': '292.9400',
   '5. volume': '3087902'},
  '2024-10-17': {'1. open': '291.9600',
   '2. high': '293.3400',
   '3. low': '290.1000',
   '4. close': '291.1100',
   '5. volume': '2830025'},
  '2024-10-16': {'1. open': '287.5500',
   '2. high': '290.9200',
   '3. low': '284.2300',
   '4. close': '290.8600',
   '5. volume': '3496969'},
  '2024-10-15': {'1. open': '293.4600',
   '2. high': '293.5800',
   '3. low': '288.0004',
   '4. close': '288.3500',
   '5. volume': '3850782'},
  '2024-10-14': {'1. open': '289.9200',
   '2. high': '292.4499',
   '3. low': '288.2500',
   '4. close': '291.6400',
   '5. volume': '3642540'},
  '2024-10-11': {'1. open': '289.2100',
   '2. high': '290.2400',
   '3. low': '286.3000',
   '4. close': '288.1000',
   '5. volume': '3597035'},
  '2024-10-10': {'1. open': '287.9200',
   '2. high': '290.2300',
   '3. low': '284.6200',
   '4. close': '290.1700',
   '5. volume': '3965512'},
  '2024-10-09': {'1. open': '290.8200',
   '2. high': '291.5700',
   '3. low': '287.0800',
   '4. close': '287.9200',
   '5. volume': '4850952'},
  '2024-10-08': {'1. open': '286.0000',
   '2. high': '292.6300',
   '3. low': '284.1035',
   '4. close': '291.5700',
   '5. volume': '5211209'},
  '2024-10-07': {'1. open': '286.5800',
   '2. high': '288.1700',
   '3. low': '283.3800',
   '4. close': '284.5700',
   '5. volume': '4794652'},
  '2024-10-04': {'1. open': '283.8600',
   '2. high': '287.8900',
   '3. low': '281.4700',
   '4. close': '287.7500',
   '5. volume': '6131284'},
  '2024-10-03': {'1. open': '278.9900',
   '2. high': '281.1200',
   '3. low': '277.7300',
   '4. close': '280.9100',
   '5. volume': '3868447'},
  '2024-10-02': {'1. open': '273.7200',
   '2. high': '282.0000',
   '3. low': '270.8517',
   '4. close': '279.4800',
   '5. volume': '8512272'},
  '2024-10-01': {'1. open': '274.1400',
   '2. high': '274.7000',
   '3. low': '269.6900',
   '4. close': '270.8700',
   '5. volume': '4369918'},
  '2024-09-30': {'1. open': '273.9500',
   '2. high': '275.7400',
   '3. low': '269.1400',
   '4. close': '273.7100',
   '5. volume': '5062226'},
  '2024-09-27': {'1. open': '276.2600',
   '2. high': '277.8400',
   '3. low': '275.0601',
   '4. close': '276.6400',
   '5. volume': '5220075'},
  '2024-09-26': {'1. open': '276.1300',
   '2. high': '278.6400',
   '3. low': '272.7100',
   '4. close': '275.7600',
   '5. volume': '5253376'},
  '2024-09-25': {'1. open': '270.4500',
   '2. high': '277.0500',
   '3. low': '269.3840',
   '4. close': '274.0900',
   '5. volume': '7920044'},
  '2024-09-24': {'1. open': '269.8300',
   '2. high': '272.4600',
   '3. low': '266.2900',
   '4. close': '270.4400',
   '5. volume': '7154459'},
  '2024-09-23': {'1. open': '267.2500',
   '2. high': '268.0600',
   '3. low': '262.2400',
   '4. close': '264.2100',
   '5. volume': '6033986'},
  '2024-09-20': {'1. open': '266.0100',
   '2. high': '270.3200',
   '3. low': '261.3200',
   '4. close': '266.8000',
   '5. volume': '11463169'},
  '2024-09-19': {'1. open': '260.7200',
   '2. high': '269.5400',
   '3. low': '258.0500',
   '4. close': '265.9900',
   '5. volume': '11022830'},
  '2024-09-18': {'1. open': '256.0000',
   '2. high': '256.1200',
   '3. low': '250.9600',
   '4. close': '252.4300',
   '5. volume': '4436734'},
  '2024-09-17': {'1. open': '258.7200',
   '2. high': '259.3700',
   '3. low': '254.7600',
   '4. close': '255.1900',
   '5. volume': '5423388'},
  '2024-09-16': {'1. open': '254.5700',
   '2. high': '257.8100',
   '3. low': '254.5700',
   '4. close': '256.9100',
   '5. volume': '5367024'},
  '2024-09-13': {'1. open': '252.5400',
   '2. high': '256.8300',
   '3. low': '252.4450',
   '4. close': '254.5700',
   '5. volume': '4998901'},
  '2024-09-12': {'1. open': '251.3900',
   '2. high': '254.1400',
   '3. low': '249.5700',
   '4. close': '253.3700',
   '5. volume': '5221397'},
  '2024-09-11': {'1. open': '244.8100',
   '2. high': '250.0200',
   '3. low': '242.0141',
   '4. close': '249.5700',
   '5. volume': '4822215'},
  '2024-09-10': {'1. open': '247.1300',
   '2. high': '247.3400',
   '3. low': '243.3110',
   '4. close': '246.1600',
   '5. volume': '3544808'},
  '2024-09-09': {'1. open': '246.5000',
   '2. high': '249.3600',
   '3. low': '244.7700',
   '4. close': '245.7600',
   '5. volume': '4588809'},
  '2024-09-06': {'1. open': '247.7400',
   '2. high': '250.0000',
   '3. low': '241.4401',
   '4. close': '243.9700',
   '5. volume': '6259431'},
  '2024-09-05': {'1. open': '245.9800',
   '2. high': '248.4999',
   '3. low': '245.0000',
   '4. close': '246.1200',
   '5. volume': '4083624'},
  '2024-09-04': {'1. open': '246.4700',
   '2. high': '249.4800',
   '3. low': '245.1600',
   '4. close': '247.6800',
   '5. volume': '3915991'},
  '2024-09-03': {'1. open': '252.6200',
   '2. high': '253.6900',
   '3. low': '246.6400',
   '4. close': '248.0600',
   '5. volume': '6190352'},
  '2024-08-30': {'1. open': '257.4400',
   '2. high': '259.1300',
   '3. low': '251.0000',
   '4. close': '252.9000',
   '5. volume': '10507704'},
  '2024-08-29': {'1. open': '271.0100',
   '2. high': '271.9500',
   '3. low': '256.2800',
   '4. close': '257.0100',
   '5. volume': '14301691'},
  '2024-08-28': {'1. open': '261.8300',
   '2. high': '265.1800',
   '3. low': '257.3600',
   '4. close': '258.9000',
   '5. volume': '10981901'},
  '2024-08-27': {'1. open': '259.6500',
   '2. high': '264.4600',
   '3. low': '259.4000',
   '4. close': '264.2000',
   '5. volume': '5276384'},
  '2024-08-26': {'1. open': '263.9400',
   '2. high': '267.3000',
   '3. low': '263.2400',
   '4. close': '265.2800',
   '5. volume': '3818271'},
  '2024-08-23': {'1. open': '261.9900',
   '2. high': '265.6000',
   '3. low': '260.7000',
   '4. close': '264.0000',
   '5. volume': '4711326'},
  '2024-08-22': {'1. open': '261.5000',
   '2. high': '263.2600',
   '3. low': '257.2700',
   '4. close': '258.5900',
   '5. volume': '5111442'},
  '2024-08-21': {'1. open': '261.1000',
   '2. high': '262.1400',
   '3. low': '259.1800',
   '4. close': '261.0900',
   '5. volume': '4648204'},
  '2024-08-20': {'1. open': '264.9500',
   '2. high': '265.5000',
   '3. low': '261.0300',
   '4. close': '261.8400',
   '5. volume': '5731309'},
  '2024-08-19': {'1. open': '263.1000',
   '2. high': '265.3900',
   '3. low': '261.6300',
   '4. close': '265.3800',
   '5. volume': '4501262'},
  '2024-08-16': {'1. open': '261.7500',
   '2. high': '263.6000',
   '3. low': '259.6800',
   '4. close': '262.9100',
   '5. volume': '3494863'},
  '2024-08-15': {'1. open': '257.9000',
   '2. high': '262.8900',
   '3. low': '256.2400',
   '4. close': '262.7900',
   '5. volume': '5167930'},
  '2024-08-14': {'1. open': '255.3900',
   '2. high': '257.7100',
   '3. low': '253.8600',
   '4. close': '255.3200',
   '5. volume': '4145248'},
  '2024-08-13': {'1. open': '253.0000',
   '2. high': '255.7800',
   '3. low': '253.0000',
   '4. close': '254.6000',
   '5. volume': '4031818'},
  '2024-08-12': {'1. open': '252.6000',
   '2. high': '254.0900',
   '3. low': '249.0200',
   '4. close': '251.3100',
   '5. volume': '3679904'},
  '2024-08-09': {'1. open': '248.7000',
   '2. high': '252.9500',
   '3. low': '248.4500',
   '4. close': '252.5300',
   '5. volume': '2975285'},
  '2024-08-08': {'1. open': '243.2400',
   '2. high': '249.4300',
   '3. low': '243.0800',
   '4. close': '249.1200',
   '5. volume': '4474252'},
  '2024-08-07': {'1. open': '242.6100',
   '2. high': '246.5300',
   '3. low': '239.6600',
   '4. close': '240.0400',
   '5. volume': '4035549'},
  '2024-08-06': {'1. open': '241.0900',
   '2. high': '243.8500',
   '3. low': '238.0300',
   '4. close': '238.4200',
   '5. volume': '5673889'},
  '2024-08-05': {'1. open': '232.3200',
   '2. high': '241.8200',
   '3. low': '232.2100',
   '4. close': '239.0100',
   '5. volume': '6899342'},
  '2024-08-02': {'1. open': '247.7900',
   '2. high': '248.0000',
   '3. low': '241.1165',
   '4. close': '243.9700',
   '5. volume': '6504544'},
  '2024-08-01': {'1. open': '259.9000',
   '2. high': '263.3600',
   '3. low': '249.7400',
   '4. close': '253.0600',
   '5. volume': '5527395'},
  '2024-07-31': {'1. open': '256.2100',
   '2. high': '261.8300',
   '3. low': '255.3500',
   '4. close': '258.8000',
   '5. volume': '4647690'},
  '2024-07-30': {'1. open': '259.6200',
   '2. high': '260.7500',
   '3. low': '255.1200',
   '4. close': '257.9300',
   '5. volume': '3944295'},
  '2024-07-29': {'1. open': '262.7100',
   '2. high': '266.0750',
   '3. low': '258.5200',
   '4. close': '258.5900',
   '5. volume': '5101425'},
  '2024-07-26': {'1. open': '258.1700',
   '2. high': '264.4900',
   '3. low': '257.0700',
   '4. close': '262.7100',
   '5. volume': '6127323'},
  '2024-07-25': {'1. open': '254.7400',
   '2. high': '264.0800',
   '3. low': '251.7245',
   '4. close': '256.5200',
   '5. volume': '7155846'},
  '2024-07-24': {'1. open': '253.6300',
   '2. high': '255.9100',
   '3. low': '248.9000',
   '4. close': '249.7800',
   '5. volume': '5204088'},
  '2024-07-23': {'1. open': '256.5900',
   '2. high': '257.3300',
   '3. low': '253.7513',
   '4. close': '256.0600',
   '5. volume': '3905543'},
  '2024-07-22': {'1. open': '248.7500',
   '2. high': '255.5800',
   '3. low': '248.0000',
   '4. close': '254.0800',
   '5. volume': '5647588'},
  '2024-07-19': {'1. open': '248.6500',
   '2. high': '248.9900',
   '3. low': '245.1700',
   '4. close': '247.6300',
   '5. volume': '4468875'},
  '2024-07-18': {'1. open': '252.1400',
   '2. high': '252.4500',
   '3. low': '245.7200',
   '4. close': '247.3500',
   '5. volume': '6351643'},
  '2024-07-17': {'1. open': '254.0000',
   '2. high': '255.5700',
   '3. low': '249.6100',
   '4. close': '251.2200',
   '5. volume': '5625254'},
  '2024-07-16': {'1. open': '253.7800',
   '2. high': '256.7800',
   '3. low': '252.6700',
   '4. close': '256.0300',
   '5. volume': '4780386'},
  '2024-07-15': {'1. open': '256.0200',
   '2. high': '256.3900',
   '3. low': '252.1200',
   '4. close': '252.8600',
   '5. volume': '4404270'},
  '2024-07-12': {'1. open': '251.6200',
   '2. high': '255.2900',
   '3. low': '249.6900',
   '4. close': '253.9700',
   '5. volume': '4705492'},
  '2024-07-11': {'1. open': '252.6000',
   '2. high': '255.4200',
   '3. low': '250.9200',
   '4. close': '251.1200',
   '5. volume': '5343727'},
  '2024-07-10': {'1. open': '251.2000',
   '2. high': '254.8000',
   '3. low': '246.1100',
   '4. close': '252.5900',
   '5. volume': '8947679'},
  '2024-07-09': {'1. open': '256.0900',
   '2. high': '257.0000',
   '3. low': '251.0900',
   '4. close': '252.4300',
   '5. volume': '7017109'},
  '2024-07-08': {'1. open': '261.3800',
   '2. high': '262.8400',
   '3. low': '257.1900',
   '4. close': '257.3700',
   '5. volume': '6539287'},
  '2024-07-05': {'1. open': '262.7200',
   '2. high': '265.8059',
   '3. low': '261.3150',
   '4. close': '263.1900',
   '5. volume': '6562111'},
  '2024-07-03': {'1. open': '256.9800',
   '2. high': '261.2200',
   '3. low': '256.9350',
   '4. close': '260.9500',
   '5. volume': '4755729'},
  '2024-07-02': {'1. open': '255.0500',
   '2. high': '257.7300',
   '3. low': '254.0600',
   '4. close': '256.1900',
   '5. volume': '5130593'},
  '2024-07-01': {'1. open': '258.1500',
   '2. high': '259.4799',
   '3. low': '254.5300',
   '4. close': '256.2100',
   '5. volume': '5871685'},
  '2024-06-28': {'1. open': '253.5000',
   '2. high': '260.1800',
   '3. low': '253.1800',
   '4. close': '257.1000',
   '5. volume': '12619303'},
  '2024-06-27': {'1. open': '245.0000',
   '2. high': '258.6000',
   '3. low': '244.4500',
   '4. close': '252.8500',
   '5. volume': '12869018'},
  '2024-06-26': {'1. open': '241.4700',
   '2. high': '243.6100',
   '3. low': '239.9010',
   '4. close': '243.1500',
   '5. volume': '4524735'},
  '2024-06-25': {'1. open': '241.7800',
   '2. high': '243.1000',
   '3. low': '239.8700',
   '4. close': '241.7600',
   '5. volume': '6216627'},
  '2024-06-24': {'1. open': '243.1900',
   '2. high': '244.4100',
   '3. low': '239.8100',
   '4. close': '239.9400',
   '5. volume': '7545685'},
  '2024-06-21': {'1. open': '240.5700',
   '2. high': '245.3740',
   '3. low': '240.1900',
   '4. close': '245.0600',
   '5. volume': '15928785'},
  '2024-06-20': {'1. open': '232.8500',
   '2. high': '243.7700',
   '3. low': '232.8500',
   '4. close': '241.8000',
   '5. volume': '14809627'},
  '2024-06-18': {'1. open': '230.4800',
   '2. high': '232.2900',
   '3. low': '229.2300',
   '4. close': '231.8100',
   '5. volume': '7119770'},
  '2024-06-17': {'1. open': '230.2800',
   '2. high': '231.8400',
   '3. low': '227.7700',
   '4. close': '230.4800',
   '5. volume': '10563678'},
  '2024-06-14': {'1. open': '229.3500',
   '2. high': '235.2499',
   '3. low': '229.2000',
   '4. close': '231.9400',
   '5. volume': '8833734'},
  '2024-06-13': {'1. open': '235.5200',
   '2. high': '235.6500',
   '3. low': '228.6600',
   '4. close': '229.0300',
   '5. volume': '13566707'},
  '2024-06-12': {'1. open': '240.5600',
   '2. high': '242.2000',
   '3. low': '234.8900',
   '4. close': '235.8000',
   '5. volume': '10260116'},
  '2024-06-11': {'1. open': '241.1600',
   '2. high': '243.7500',
   '3. low': '236.2600',
   '4. close': '240.9900',
   '5. volume': '7264354'},
  '2024-06-10': {'1. open': '241.7900',
   '2. high': '243.6400',
   '3. low': '240.4300',
   '4. close': '241.8400',
   '5. volume': '7660118'}}}

In [8]:
price = price_data['Time Series (Daily)']
price_df = pd.DataFrame.from_dict(price)
price_df

,2024-10-30,2024-10-29,2024-10-28,2024-10-25,2024-10-24,2024-10-23,2024-10-22,2024-10-21,2024-10-18,2024-10-17,...,2024-06-24,2024-06-21,2024-06-20,2024-06-18,2024-06-17,2024-06-14,2024-06-13,2024-06-12,2024-06-11,2024-06-10
1. open,297.0700,294.0000,293.6000,290.0000,286.5600,287.7300,289.7500,289.0000,292.0400,291.9600,...,243.1900,240.5700,232.8500,230.4800,230.2800,229.3500,235.5200,240.5600,241.1600,241.7900
2. high,299.5400,300.5950,296.0700,294.3800,288.9100,288.3032,291.9420,292.9200,294.7100,293.3400,...,244.4100,245.3740,243.7700,232.2900,231.8400,235.2499,235.6500,242.2000,243.7500,243.6400
3. low,296.3500,292.8100,292.4900,288.8300,285.1800,282.6176,287.6500,288.0400,290.1500,290.1000,...,239.8100,240.1900,232.8500,229.2300,227.7700,229.2000,228.6600,234.8900,236.2600,240.4300
4. close,296.4000,298.8900,293.7700,290.4600,286.7600,284.4300,288.3300,291.2900,292.9400,291.1100,...,239.9400,245.0600,241.8000,231.8100,230.4800,231.9400,229.0300,235.8000,240.9900,241.8400
5. volume,2813092,4280743,3867816,3351560,3210656,3227071,3100125,2712571,3087902,2830025,...,7545685,15928785,14809627,7119770,10563678,8833734,13566707,10260116,7264354,7660118

In [27]:
price_df.to_csv('price_data.csv')
earnings_df.to_csv('earnings_data.csv')