In [1]:
import requests
import pandas as pd

In [3]:
with open('alpha_vantage_apikey.txt', 'r') as file:
    apikey = file.read()

In [ ]:
params = {
        'function': 'EARNINGS',
        'symbol': 'GME',
        'datatype': 'json',
        'apikey': apikey
    }

In [5]:
base_url = 'https://www.alphavantage.co/query?'

In [18]:
all_earnings_data = []
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

for symbol in symbols:
    params = {
        'function': 'EARNINGS',
        'symbol': symbol,
        'datatype': 'json',
        'apikey': apikey
    }
    results = requests.get(base_url, params=params)
    if results.status_code == 200:
        earnings_data = results.json().get('annualEarnings', [])
        for entry in earnings_data:
            entry['symbol'] = symbol
        all_earnings_data.extend(earnings_data)
    else:
        print(f"Failed to retrieve data for {symbol}")

earnings_df = pd.DataFrame(all_earnings_data)
earnings_df

    fiscalDateEnding reportedEPS symbol
0         2024-09-30         0.5    WEN
1         2023-12-31        0.97    WEN
2         2022-12-31        0.87    WEN
3         2021-12-31        0.82    WEN
4         2020-12-31        0.57    WEN
..               ...         ...    ...
150       2009-01-31        0.09    CRM
151       2008-01-31        0.05    CRM
152       2007-01-31        0.07    CRM
153       2006-01-31        0.04    CRM
154       2005-01-31      0.0173    CRM

[155 rows x 3 columns]

In [24]:
all_price_data = []
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

for symbol in symbols:
    params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': symbol,
        'datatype': 'json',
        'apikey': apikey
    }
    results = requests.get(base_url, params=params)
    if results.status_code == 200:
        price_data = results.json().get('Time Series (Daily)', [])
        for entry in price_data:
           entry['symbol'] = symbol
        all_price_data.extend(earnings_data)
    else:
        print(f"Failed to retrieve data for {symbol}")

price_df = pd.DataFrame(all_price_data)
price_df

TypeError: 'str' object does not support item assignment

In [27]:
params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': 'CRM',
        'datatype': 'json',
        'apikey': apikey
    }
results = requests.get(base_url, params=params)
price_data = results.json()
price_data
#price = price_data['Time Series (Daily)']
#price_df = pd.DataFrame.from_dict(price)
#price_df

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}