In [1]:
import requests
import pandas as pd

In [3]:
with open('alpha_vantage_apikey.txt', 'r') as file:
    apikey = file.read()

In [ ]:
params = {
        'function': 'EARNINGS',
        'symbol': 'GME',
        'datatype': 'json',
        'apikey': apikey
    }

In [5]:
base_url = 'https://www.alphavantage.co/query?'

In [11]:
all_earnings_data = []
symbols = ['WEN', 'TSLA', 'AAPL', 'GOOG', 'AMZN', 'NFLX', 'CRM']

for symbol in symbols:
    params = {
        'function': 'EARNINGS',
        'symbol': symbol,
        'datatype': 'json',
        'apikey': apikey
    }
    results = requests.get(base_url, params=params)
    if results.status_code == 200:
        earnings_data = results.json().get('annualEarnings', [])
        for entry in earnings_data:
            entry['symbol'] = symbol
        all_earnings_data.extend(earnings_data)
    else:
        print(f"Failed to retrieve data for {symbol}")

earnings_df = pd.DataFrame(all_earnings_data)
earnings_df

    fiscalDateEnding reportedEPS symbol
0         2024-09-30         0.5    WEN
1         2023-12-31        0.97    WEN
2         2022-12-31        0.87    WEN
3         2021-12-31        0.82    WEN
4         2020-12-31        0.57    WEN
..               ...         ...    ...
150       2009-01-31        0.09    CRM
151       2008-01-31        0.05    CRM
152       2007-01-31        0.07    CRM
153       2006-01-31        0.04    CRM
154       2005-01-31      0.0173    CRM

[155 rows x 3 columns]

In [9]:
results = requests.get(base_url, params=params)
earnings_data = results.json()
earnings_data
earnings_data = earnings_data['annualEarnings']
earnings_df = pd.DataFrame.from_dict(earnings_data)
#earnings_df = earnings_df.T
#earnings_df.to_csv('my_api_data.csv')
earnings_df

   fiscalDateEnding reportedEPS
0        2024-07-31       -0.11
1        2024-01-31      0.0534
2        2023-01-31       -1.02
3        2022-01-31       -1.11
4        2021-01-31        0.34
5        2020-11-30       -1.41
6        2020-01-31        0.14
7        2019-01-31        0.68
8        2018-01-31        0.82
9        2017-01-31        0.96
10       2016-01-31        0.99
11       2015-01-31        0.89
12       2014-01-31        0.76
13       2013-01-31        0.82
14       2012-01-31        0.73
15       2011-01-31        0.68
16       2010-01-31        0.57
17       2009-01-31        0.62
18       2008-01-31        0.45
19       2007-01-31        0.27
20       2006-01-31         0.2
21       2005-01-31        0.16
22       2004-01-31        0.13
23       2003-01-31        0.11
24       2002-01-31      0.0414